*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fc8qr1');
  src:  url('../fonts/icomoon.eot?fc8qr1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fc8qr1') format('truetype'),
    url('../fonts/icomoon.woff?fc8qr1') format('woff'),
    url('../fonts/icomoon.svg?fc8qr1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
  

/* freeshipping div */
.freeshipping{
  width:100%;
  height:26px;
  background-color: #B0B6B5;
  display:flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.freeshipping p{
  font-size: 14px;
  color:#ffffff;
  padding: 10px 0px 0px 0px;
}

/* header */
header{
    width:100%;
    background-color: #E6E9E8;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
}
#logo {
  width: 12%;
  height: 20px;
  background-image: url(../img/sitelogo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: -3333px;
  margin-bottom: 0px;
}
#logo a {
  display: block;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
}
nav{
  width:70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn {
  width:100px;
  color: #6D706C;
  font-size: 12px;
  border: none;
  outline: none;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E6E9E8;
  min-width: 120px;
  z-index: 1;
}
.dropdown-content a {
  color: #6D706C;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  color:#000000;}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 1170px) {
  header, nav {
    flex-direction: column;
  }
  #logo{
    width: 16%;
    height:20px;
  }
  .search{
    width: 40%;
  }
  .overlay h2 {
    display:none;
  }
}
@media only screen and (max-width: 810px) {
  #logo{
    width: 24%;
    height:20px;
  }
}
@media only screen and (max-width: 530px) {
  #logo{
    width: 40%;
    height:20px;
  }
}


/* scroll up button */

#myBtn {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 6px;
  right: 48%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #000000;
  opacity: 0.6;
  cursor: pointer;
  padding: 0px 0px;
  border-radius: 4px;
}
.arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#myBtn:hover {
  background-color: #555;
}


/* log In and sign up forms */

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color:transparent;
  color: rgb(111, 106, 106);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
  color:#000000;
}
.submitbtn{
  background-color: #7BB966;
  color:#ffffff;
}
.cancelbtn {
  padding: 14px 20px;
}
.container {
  padding: 10px;
}
button:focus{
  outline: none;
  border:none;
}
form{
  padding: 10px 10px;
}
.imgcontainer {
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 70%;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.psw{
  margin: 8px 10px;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* coupon form */

.open-button {
  background-color: #555;
  color: white;
  padding: 10px 4px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
  z-index: 9;
  animation: couponAnime 2s infinite;
}
@keyframes couponAnime{
  0% {background-color: #2CA608;}
  50% {background-color: #99B890; color: #1B5908;}
  100% {background-color: #2CA608;}
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container h3{
  font-size: 14px;
  text-align: center;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 6px 0px;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .signupbtn {
  background-color: #3ABF12;
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:6px;
  opacity: 0.8;
}
.form-container .cancelbtn {
  background-color: #E0471E;
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:6px;
  opacity: 0.8;
}
.form-container .signupbtn:hover, .cancelbtn:hover, .open-button:hover {
  opacity: 1;
}


/* social media Pop Up */

.socialMediaPopUp{
  width: 300px;
  padding: 20px 10px;
  background-image: url(../img/popUp.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
  justify-content: center;
  z-index: 9;
  box-shadow: 0 0 10px #000000;
}
.closePopUp{
  display: block;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  color: #867c7c;
}
.closePopUp:hover{
  border: none;
  outline: 0;
  cursor: pointer;
}
.socialMediaPopUp h2{
  margin: 0;
  padding: 10px 20px;
  color:#656463;
  font-size: 18px;
}
.socialPopUp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fbPopUp a span{
  color: #656463;
  font-size: 34px;
  padding: 10px 10px;
  text-decoration: none;
}
.instaPopUp a span{
  color: #656463;
  font-size: 34px;
  padding: 10px 10px;
  text-decoration: none;
}
.fbPopUp a:hover{
  text-decoration: none;
  color:#232D79;
}
.instaPopUp a:hover{
  text-decoration: none;
}
.fbPopUp a span:hover{
  color:#232D79; 
}
.instaPopUp a span:hover{
  color:#D56B14;
}

/* paralax picture*/

.paralaxPic{
  width:100%;
  height:100vh;
  background-image: url(../img/paralax.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.paralaxPic a{
  width:70%;
  padding:50px 50px;
  font-style: italic;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  font-weight:bold;
  text-decoration: none;
}
@media only screen and (max-width: 1170px) {
  .paralaxPic{
    width:100%;
    max-height: 800px;
  }
  .paralaxPic a{
    font-size: 30px;
  }
}


/* new ins examples carpusel */

.owl-nav{
  display:none;
}
.newInexamples{
  max-width:100%;
  height:auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newCollCarousel{
  max-width:80%;
  height:auto;
}
.newCollCarousel .owl-dots {
  display: none;
}
.newInexamples h2{
  width:20%;
  display:flex;
  justify-content: center;
  text-align: center;
}
.newInexamples h2 a{
  font-size: 34px;
  color:#CF5D6A;
  text-decoration: none;
}
.newInexamples .summerdays {
  width:100%;
  height: auto;
  padding: 20px 20px;
  overflow: hidden;
}
.newInexamples .summerdays img{
  width:100%;
}
@media only screen and (max-width: 1170px) {
  .newInexamples{
    flex-direction: column;
  }
  .newInexamples h2{
    width:34%;
  }
}


/* video */
.video1{
  width:100%;
  background-size: 100%;
  display:flex;
  justify-content: center;
  background-color: #F2F2F2;
  position:relative;
}
video {
  width: 100%;
  height:auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.overlay {
  height: 100vh;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay h2 {
  color: #ffffff;
  font-size: 50px;
  font-style: italic;
  text-decoration: none;
  font-weight: 800;
  mix-blend-mode: overlay;
  padding: 15px 15px;
  text-align: center;
}


/* categories women and men*/

.womenCollection{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.womenCollection h2{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.womenCollection h2 a{
  font-size: 34px;
  color: #CF5D6A;
  text-decoration: none;
}
.women1{
  width:25%;
  height:500px;
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.women1:hover{
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.women2{
  width:25%;
  height:500px;
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.women2:hover{
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.women3{
  width:25%;
  height:500px;
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.women3:hover{
  background-image: url(../img/indexWomenCollPics/womenCollectionWoman3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menCollection h2{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menCollection h2 a{
  font-size: 34px;
  color: #CF5D6A;
  text-decoration: none;
}
.men1{
  width:25%;
  height:500px;
  background-image: url(../img/indexMenCollPics/menCollectionMan1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.men1:hover{
  background-image: url(../img/indexMenCollPics/menCollectionMan1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.men2{
  width:25%;
  height:500px;
  background-image: url(../img/indexMenCollPics/menCollectionMan2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.men2:hover{
  background-image: url(../img/indexMenCollPics/menCollectionMan2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.men3{
  width:25%;
  height:500px;
  background-image: url(../img/indexMenCollPics/menCollectionMan3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.men3:hover{
  background-image: url(../img/indexMenCollPics/menCollectionMan3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

@media only screen and (max-width: 1170px) {
  .womenCollection,  .menCollection {
    flex-direction: column;
  }
  .women1, .women2, .women3, .men1, .men2, .men3{
    width: 80%;
    height:500px;
  }
}


/* collection on sale */
.collectionOnSale{
  width:100%;
  height:auto;
}
.collectionOnSale a{
  width:100%;
}
.collectionOnSale a img{
  width:100%;
}


/* footer */

footer{
  width:100%;
  background-color: #E6E9E8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerNav{
  width:100%;
  padding:10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerNav li a{
  font-size: 14px;
  padding: 0px 20px;
  color: #656463;
  text-decoration: none;
}
.footerNav li a:hover{
  text-decoration: none;
  color:#000000;
}
.forMore{
  font-size: 22px;
  color: #656463;
}
.footerLoginSignUp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLoginSignUp button{
  font-size: 18px;
  color: #656463;
}
.footerLoginSignUp .fb span{
  font-size: 18px;
  color: #656463;
  padding: 0px 10px;
}
.footerLoginSignUp .insta span{
  font-size: 18px;
  color: #656463;
}
.footerLoginSignUp .fb span:hover{
  text-decoration: none;
  color: #232D79;
}
.footerLoginSignUp .fb a:hover{
  text-decoration: none;
}
.footerLoginSignUp .insta span:hover{
  text-decoration: none;
  color: #D56B14;
}
.footerLoginSignUp .insta a:hover{
  text-decoration: none;
}
@media only screen and (max-width: 1170px) {
  .footerNav {
    flex-direction: column;
  }
  footer .forMore, .rights, .footerLoginSignUp button, .footerLoginSignUp .fb span, .footerLoginSignUp .insta span{
    font-size: 10px;
  }
}


/* breadcrumb */
.breadcrumb{
  background-color: #ffffff;
  padding: 10px 82px;
}
ul.breadcrumb li+li:before {
  font-size:20px;
  padding: 8px;
  color: #000000;
  content: "/\00a0";
}
ul.breadcrumb li a {
  font-size:20px;
  color:#000000;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}




/* menAll.html */

.menAllPics1, .menAllPics2, .menAllPics3{
  width:100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.menAllPics1 a, .menAllPics2 a, .menAllPics3 a{
  color:#ffffff;
  font-size: 34px;
  font-weight: bold;
  padding: 20px 10px;
}
.menAllPics1 a:hover, .menAllPics2 a:hover, .menAllPics3 a:hover{
  text-decoration: none;
  color:#888B87;
}
.menAllPics1 .menAll1{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/jackets$coats.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics1 .menAll2{
  width: 40%;
  height:650px;
  background-color: #ffffff;
  color: #888B87;
}
.menAllPics1 .menAll2:hover{
  background-color: #BFC3BE;
  color:#ffffff;
}
.menAllPics1 .menAll3{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/shirts.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics2 .menAll4{
  width: 40%;
  height:650px;
  background-color: #ffffff;
  color: #888B87;
}
.menAllPics2 .menAll4:hover{
  background-color: #BFC3BE;
  color:#ffffff;
}
.menAllPics2 .menAll5{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/T-shirts$Sweatshirts.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics2 .menAll6{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/pants.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics3 .menAll7{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/jeans.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics3 .menAll8{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/shoes.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menAllPics3 .menAll9{
  width: 40%;
  height:650px;
  background-image: url(../img/menAllPics/jackets$coats.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1170px) { 
  .menAllPics1, .menAllPics2, .menAllPics3{
    flex-direction: column;   
  }
  .menAllPics1 a, .menAllPics2 a, .menAllPics3 a{
    min-width:100%;
    max-height:560px;
    padding: 20px 10px;
  }
}



/* womenAll.html */

.womenAllPics1, .womenAllPics2, .womenAllPics3{
  width:100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.womenAllPics1 a, .womenAllPics2 a, .womenAllPics3 a{
  color:#ffffff;
  font-size: 34px;
  font-weight: bold;
  padding: 20px 10px;
}
.womenAllPics1 a:hover, .womenAllPics2 a:hover, .womenAllPics3 a:hover{
  text-decoration: none;
  color:#888B87;
}
.womenAllPics1 .womenAll1{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/jeans.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics1 .womenAll2{
  width: 40%;
  height:650px;
  background-color: #ffffff;
  color: #888B87;
}
.womenAllPics1 .womenAll2:hover{
  background-color: #BFC3BE;
  color:#ffffff;
}
.womenAllPics1 .womenAll3{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/dresses.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics2 .womenAll4{
  width: 40%;
  height:650px;
  background-color: #ffffff;
  color: #888B87;
}
.womenAllPics2 .womenAll4:hover{
  background-color: #BFC3BE;
  color:#ffffff;
}
.womenAllPics2 .womenAll5{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/tops&shirts.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics2 .womenAll6{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/blusen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics3 .womenAll7{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/jackets.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics3 .womenAll8{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/accessories.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenAllPics3 .womenAll9{
  width: 40%;
  height:650px;
  background-image: url(../img/womenAllPics/shoesWomen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1170px) { 
  .womenAllPics1, .womenAllPics2, .womenAllPics3{
    flex-direction: column;   
  }
  .womenAllPics1 a, .womenAllPics2 a, .womenAllPics3 a{
    min-width:100%;
    max-height:560px;
    padding: 20px 10px;
  }
}



/* womenNewCollection.html */

.womenCollectionPage{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col-sm-3 {
  width: 30%;
  height: 600px;
  margin:10px 10px;
  font-size: 20px;
  color:white;
  display: flex;
  justify-content: center;
}
.womenCollection1 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/WomenPics/w1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection1 a:hover{
  background-image: url(../img/WomenPics/w1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenCollection1, .womenCollection2, .womenCollection3, .womenCollection4, .womenCollection5, .womenCollection6{
  position: relative;
}
.womenCollection1 p, .womenCollection2 p, .womenCollection3 p, .womenCollection4 p, .womenCollection5 p, .womenCollection6 p{
  font-size: 18px;
  color:#000000;
  position: absolute;
  bottom:0;
  left:20px;
}
.womenCollection2 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/WomenPics/w2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection2 a:hover{
  background-image: url(../img/WomenPics/w2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenCollection3 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/WomenPics/w3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection3 a:hover{
  background-image: url(../img/WomenPics/w3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenCollection4 a{
  width: 100%;
  background-image: url(../img/WomenPics/w4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection4 a:hover{
  background-image: url(../img/WomenPics/w4hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenCollection5 a{
  width: 100%;
  background-image: url(../img/WomenPics/w5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection5 a:hover{
  background-image: url(../img/WomenPics/w5hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenCollection6 a{
  width: 100%;
  background-image: url(../img/WomenPics/w6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenCollection6 a:hover{
  background-image: url(../img/WomenPics/w6hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
@media only screen and (max-width: 1170px) {
  .col-sm-3 {
    min-width: 80%;
    max-height: 500px;
  }
}



/* menNewCollection.html */

.menCollectionPage{
  width: 100%;
  padding:10px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.menCollection1 a{
  width: 100%;
  background-image: url(../img/menPics/m1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection1 a:hover{
  background-image: url(../img/menPics/m1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection1, .menCollection2, .menCollection3, .menCollection4, .menCollection5, .menCollection6{
  position: relative;
}
.menCollection1 p, .menCollection2 p, .menCollection3 p, .menCollection4 p, .menCollection5 p, .menCollection6 p{
  font-size: 18px;
  color:#000000;
  position: absolute;
  bottom:0;
  left:20px;
}
.menCollection2 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menPics/m2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection2 a:hover{
  background-image: url(../img/menPics/m2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection3 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menPics/m3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection3 a:hover{
  background-image: url(../img/menPics/m3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection4 a{
  width: 100%;
  background-image: url(../img/menPics/m4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection4 a:hover{
  background-image: url(../img/menPics/m4hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection5 a{
  width: 100%;
  background-image: url(../img/menPics/m5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection5 a:hover{
  background-image: url(../img/menPics/m5hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menCollection6 a{
  width: 100%;
  background-image: url(../img/menPics/m6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menCollection6 a:hover{
  background-image: url(../img/menPics/m6hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
@media only screen and (max-width: 1170px) {
  .row{
    margin:0 auto;
  }
}




/* womenSales.html
   menSales.html   */

.salesBanner{
  width: 100%;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.salePic1{
  width:50%;
  height:500px;
  background-image: url(../img/SalesPics/sale50.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -130px;
}
.saleText{
  width:60%;
  height:500px;
  background-color: #FFDCE0;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saleText a{
  width: 80%;
  font-size: 36px;
  font-style: italic;
  color: #000000;
}
@media only screen and (max-width: 1170px) {
  .salesBanner{
    flex-direction: column;
    height:300px;
  }
  .salePic1{
    width:100%;
    height:200px;
    background-position-y: -60px;
  }
  .saleText{
    width:100%;
    height:100px;
  }
  .saleText a{
    font-size: 14px;
  }
}


/* womenJeans.html */

.womenJeansCollection{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.womenJeans1 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans1 a:hover{
  background-image: url(../img/womenJeans/womenJeans1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenJeans1, .womenJeans2, .womenJeans3, .womenJeans4, .womenJeans5, .womenJeans6{
  position: relative;
}
.womenJeans1 p, .womenJeans2 p, .womenJeans3 p, .womenJeans4 p, .womenJeans5 p, .womenJeans6 p{
  font-size: 18px;
  color:#000000;
  position: absolute;
  bottom:0;
  left:20px;
}
.womenJeans2 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans2 a:hover{
  background-image: url(../img/womenJeans/womenJeans2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenJeans3 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans3 a:hover{
  background-image: url(../img/womenJeans/womenJeans3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenJeans4 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans4 a:hover{
  background-image: url(../img/womenJeans/womenJeans4hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenJeans5 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans5 a:hover{
  background-image: url(../img/womenJeans/womenJeans5hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.womenJeans6 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/womenJeans/womenJeans6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.womenJeans6 a:hover{
  background-image: url(../img/womenJeans/womenJeans6hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}




/* menJackets.html */

.menJacketsCollection{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menJacket1 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket1 a:hover{
  background-image: url(../img/menJackets/jacket1hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menJacket1, .menJacket2, .menJacket3, .menJacket4, .menJacket5, .menJacket6{
  position: relative;
}
.menJacket1 p, .menJacket2 p, .menJacket3 p, .menJacket4 p, .menJacket5 p, .menJacket6 p{
  font-size: 18px;
  color:#000000;
  position: absolute;
  bottom:0;
  left:20px;
}
.menJacket2 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket2 a:hover{
  background-image: url(../img/menJackets/jacket2hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menJacket3 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket3 a:hover{
  background-image: url(../img/menJackets/jacket3hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menJacket4 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket4 a:hover{
  background-image: url(../img/menJackets/jacket4hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menJacket5 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket5 a:hover{
  background-image: url(../img/menJackets/jacket5hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.menJacket6 a{
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/menJackets/jacket6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.menJacket6 a:hover{
  background-image: url(../img/menJackets/jacket6hover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}





/* newCollectionAll.html */

.newsH2{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ocean{
  font-size: 44px;
  font-style: italic;
  text-align: center;
  padding: 0px 0px 40px 0px;
}
.forNowAndForever{
  width:100%;
  height: 100vh;
  background-image: url(../img/newCollectionAll/forNowandForever.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics1, .newCollPics2, .discover{
  width:100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.newCollPics1 .newColl1{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics1 .newColl2{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics1 .newColl3{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics2 .newColl4{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics2 .newColl5{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newCollPics2 .newColl6{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/news6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.discoverWomen{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/discoverWomen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.discoverMen{
  width: 40%;
  height:650px;
  background-image: url(../img/newCollectionAll/discoverMen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.discover a{
  font-size: 44px;
  color:#ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 1170px) {
  .forNowAndForever{
    min-width:100%;
    max-height:230px;
  }
  .newCollPics1, .discover{
    flex-direction: column;
  }
  .newCollPics1 a, .newCollPics2 a {
    min-width:100%;
    max-height:500px;
  }
  .discoverWomen, .discoverMen{
    min-width:100%;
    max-height:500px;
  }
}



/* womenProduct.html 
   womenJeansProduct.html
   menProduct.html    
   menJacketProduct.html    */

.item-description{
  width:60%;
  padding:20px 20px;
  display: flex;
  flex-direction: column;
}
.item-description p{
  font-size: 14px;
}
.SizeCart{
  width: 40%;
  padding:20px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SizeCart p{
  font-size: 20px;
  font-weight: bold;
  padding:10px 10px;
  margin-bottom: opx;
}
#zomisArcheva{
  width:16%;
  padding:10px 10px;
  font-size: 18px;
}
#click{
  width: 40%;
  padding:10px 20px;
  font-size: 18px;
  background-color: #000000;
  color:#ffffff;
  border:1px solid #000000;
}
#click:hover{
  background-color: #ffffff;
  color:#000000;
  border:1px solid #000000;
}
.productPhotos{
  width:100%;
  display:flex;
  justify-content: space-around;
}
.productPhotos a{
  width:18%;
}
img {
  width: 100%;
}
.productVideo{
  width:18%;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media only screen and (max-width: 1170px) {
  .item-description, .SizeCart, .SizeCart #click{
    width:100%;
  }
  .SizeCart p{
    font-size: 12px;
  }
  .SizeCart #zomisArcheva{
    font-size: 12px;
    padding: 10px 10px;
  }
}



/* stores.html */

.storesClass{
  text-decoration: overline;
}
.stores{
  font-size: 24px;
  color: #656463;
  padding:10px 20px;
}
.storesList{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.tbilisi, .batumi{
  width:100%;
  padding:0px 10px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
.tbilisiMallPic{
  width: 100%;
  height:400px;
  background-image: url(../img/storesPics/tbilisiMallPic.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.batumiMallPic{
  width: 100%;
  height:400px;
  background-image: url(../img/storesPics/batumiMallPicture.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -170px;
}
.storesList h3{
  font-size: 22px;
  color: #656463;
  padding:10px;
}
.storesList span{
  font-size: 18px;
  color: #656463;
  padding:10px;
}
.map{
  width: 100%;
  display:flex;
  flex-direction: column;
}
.map iframe{
  width: 100%;
}
@media only screen and (max-width: 1170px) {
  .storesList{
    display:flex;
    flex-direction: column;
  }
  .map iframe{
    width: 100%;
  }
  .tbilisiMallPic{
    max-height:200px;
  }
  .batumiMallPic{
    max-height:200px;
    background-position-y: -100px;
  }
}


/* contact.html */

.contactdetiles{
  width:100%;
  padding:10px 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.contactSpans{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.contactdetiles span{
  font-size: 24px;
  color:rgb(111, 106, 106);
}
.sendEmail{
  width: 100%;
  padding:40px 10px;
  display: flex;
  flex-direction: column;
}
form {
  border: 3px solid #FFDCE0;
  font-family: Arial;
  width:100%;
  padding:10px 10px;
}
.container {
  background-color:#ffffff;
  width:60%;
}
.container h2{
  padding: 10px;
  font-size: 20px;
  color: #656463;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FFDCE0;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #527E69;
  color: white;
  font-weight: bold;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}
.emailText{
  width:100%;
  height: 200px;
}
.socialmedia{
  width:100%;
  height:200px;
  background-image: url(../img/popUp.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.soc{
  padding:0px 20px 20px 20px;
  color: #656463;
  font-size: 34px;
  text-align: center;
}
.media{
  display: flex;
  justify-content: center;
}
.media span{
  font-size: 48px;
  padding: 0px 20px;
  color:#5A6F66;
}
.media a:hover{
  text-decoration: none;
}

@media only screen and (max-width: 1170px) {
  .container{
    width:100%;
  }
  .contactSpans{
    text-align: center;
  }
}

